<form class="form">
  <input type="text" name="urlRequest" [(ngModel)]="urlRequest" value="urlRequest" placeholder="Beispiel: coffstack-1563113636163.azurewebsites.net">
  <input type="submit" (click)="onSave(urlRequest)" value="Save" class="btn" />
</form>
