<form class="form" (ngSubmit)="onSubmit()">
  <input type="text" name="name" [(ngModel)]="name" placeholder="Add a Coffee...">
  <input type="number" name="menge" [(ngModel)]="menge" placeholder="Quantity...">
  <input type="submit" value="Submit" class="btn">
</form>
