.angaben {
  display:inline-block;
  display: flex;
}

.sorte{
  display:inline-block;
  flex: 5;
  padding: 10px 5px 5px 5px;
}

.menge{
  padding: 10px 5px 5px 5px;
  display:inline-block;
  flex: 5;
}
