<app-url-request></app-url-request>
<app-add-coffee (addCoffee)="addCoffee($event)"></app-add-coffee>
<div class="angaben">
  <div class="sorte">
    Coffee name
  </div>
  <div class="menge">
    Amount
  </div>
</div>
<app-coffee-list-item *ngFor="let coffeeList of coffeelists" [coffeelist]="coffeeList" (deleteCoffee)="deleteCoffee($event)">
</app-coffee-list-item>
