<div [ngClass]="setClasses()" >

  <div class="angaben">
    <div class="sorte">
      {{coffeelist.name}}
    </div>
    <div class="menge">
      {{coffeelist.menge}}
    </div>
    <div class="delete">
      <button (click)="onDelete(coffeelist)" class="del">X</button>
    </div>
  </div>

</div>
