.del {
  background: #ff0000;
  color: #fff;
  padding: 5px 9px;
  border: 2px solid #000;
  cursor: pointer;
}

.angaben {
  display: flex;
}

.sorte{
  flex: 9;
  box-sizing: content-box;
  padding: 5px;
}

.menge{
  flex: 8;
  padding: 5px;
  box-sizing: content-box;
}
.delete{
  flex: 1;
}
